

.page {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}

.pageExchange {
    left: 0%;
}

.pageAddress {
    left: 100%;
}

.absoluteBottom{
    position: absolute;
    bottom: 0rem;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    background-color: #f4f4f4;
    width: 100%;
    font-size: 1rem;
    min-height: 5rem;
}