
.inputHeader {
    box-sizing: border-box;
    position: relative;
    padding: 1.2rem 8rem 1.2rem 1.2rem;
}

.inputBoxCon {
    height: 3rem;
    width: 100%;
}

.inputBox {
    background-color: #f4f4f4;
    height: 3rem;
    width: 100%;
    padding-left: 1rem;
    margin: auto auto;
    display: block;

}

.exchangeBtn {
    box-sizing: border-box;
    position: absolute;
    width: 5rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: #3881e0;
    top: 1.2rem;
    right: 1rem;
    border-radius: 0.5rem;
    color: white;
}

.addressCon {
    box-sizing: border-box;
    padding: 1.5rem;
}

.addressTitle {
    color: #444;
    width: 25%;
    display: inline-block;
}

.address {
    display: inline-block;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 45%;
    transform: translateY(0.3rem);
}

.addressChange {
    display: inline-block;
    width: 30%;
    text-align: right;
    color: #3881e0;
    font-weight: bold;
    display: none;
}

/**/
.prizeCon {
    box-sizing: border-box;
    padding: 1.5rem;
    /*overflow: scroll;*/
    /*height: 10rem;*/
}

.prizeTitle {
    color: #444;
}

.prizeContent {
}

.prizeSec {
    background: #f4f4f4;
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 1rem;
}

.prizeSecImg {
    display: block;
    width: 5rem;
    left: -0rem;
    /*height: 100%;*/
    position: absolute;
    top: 0%;
    word-wrap: break-word;
}

.prizeSecTxt {
    display: block;
    position: relative;
    padding-left:6rem;
    word-wrap: break-word;
    min-height: 5rem;
    color: #444444;
}

.nodata {
    display: block;
    margin: 3rem auto 0;
}

.bottomDeclaration {
    position: absolute;
    bottom: 0rem;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    background-color: #f4f4f4;
    width: 100%;
    font-size: 1rem;
    min-height: 5rem;

}